html,body {
	height:100%;
}
body {
	font-family: 'Lato', sans-serif;
	font-size: 110%;
}
h3, h2, h1 {
	font-family: 'Montserrat', sans-serif;
}
/* NAVIGATION */
center nav {
	width: auto;
	margin: 0;
	position: static;
}
nav {
	display: block;
	font-weight: bold;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 80%;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
a:link, a:visited, a:hover, a:active {
	color: white;
	text-decoration: none;
	font-weight: bold;
} 
nav ul {
	list-style:none;
	text-align: center;
	margin-left: 230px;
	margin-right: 230px;
}
nav ul li {
	display: inline-block;
	padding: 10px;
	padding-left: 50;
	padding-right: 50;
	text-align: center;
}
