body {
    background-color: #161616;
    color: white;
    text-align: center;
    font-family: Arial;
}
nav {
	background-color: black;
}
nav ul {
	
	list-style:none;
	background-color: black;
	margin: none;
	padding: none;
	text-align: justify;
}
nav ul li {
	display: inline-block;
	padding: 30px;
	text-align: justify;
}
nav ul li img{
	padding: 10px;
}
