html,body {
	height:100%;
}
a {
	text-decoration: none;
	font-weight: bold;
}
body {
    	background: #1A1A1A;
	color: #D5D5D5;
	font-family: 'Lato', sans-serif;
	text-align: justify;
	font-size: 110%;
	text-align: center;
}
h3, h2, h1 {
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
}
#center {
	margin-top: 50%;
	margin-bottom: 50%;
  	width: 430px;
  	margin: auto;
  	position: relative;
	vertical-align: middle;
}
#header {
    	background: #1A1A1A;
	width: 100%;
}
#body {
	background: white;
	padding: 20px;
	width: 100%;
	height: 100%;
	color: #1A1A1A;
	
}
#body p {
	padding: 20px;
}
/* NAVIGATION */
nav {
	display: block;
	font-weight: bold;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 80%;
	font-family: 'Montserrat', sans-serif;
}
a {
	text-decoration: none;
}
nav a:link, nav a:visited, nav a:hover, nav a:active {
	color: white;
}
nav ul {
	list-style:none;
	background-color: #1A1A1A;
	padding: 10px;
	text-align: center;
	margin-left: 230px;
	margin-right: 230px;
}
nav ul li {
	
	display: inline-block;
	background-color: #1A1A1A;
	padding: 10px;
	padding-left: 50;
	padding-right: 50;
	text-align: center;
	border-radius: 10px;
}
